<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Updation Form</title>
    <link rel="stylesheet" href="\css\form.css" />
  </head>
  <body>

    <form method="post" action="/edit/<%- studentdata._id %>">
      <div class="form">
        <div class="title">Welcome</div>
        <div class="subtitle">Update Your Record</div>
        <div class="input-container ic1">
          <input id="firstname" class="input" name="name" type="text" placeholder="Name "  value="<%- studentdata.name %>" />
        </div>

        <div class="input-container ic2">
          <input id="email" class="input" name="email" type="text" placeholder="Email "  value="<%- studentdata.email %>" />
        </div>
         <button type="text" class="submit">Update</button>
       
      </div>
    </form>
  </body>
</html>
